

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
#header{
    margin-top:3%;
    margin-bottom:1%;
    margin-left:5%
}
#chatroom {
    height: 400px;
    overflow-y: auto;  
    margin-left:5%;
    margin-right:5%;
}

#message {
    margin-top: 1%;
    max-width: 90% ;
    margin-left:5%;
    margin-bottom:1%;
}

#other {
    margin-left:auto;
    margin-right:1%;
    color: gray;
    margin-left:80%;
}

#my {
    color: blue;
}
