<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5036d606-1683-40e5-9af6-099ed0438455/resourcegroups/Task220200418095034ResourceGroup/providers/Microsoft.Web/sites/WebChat20200422124256</ResourceId>
    <ResourceGroup>Task220200418095034ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webchat20200422124256.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webchat20200422124256.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebChat20200422124256</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebChat20200422124256</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>